/*  your css code here. If applicable */
h1 {
    text-align: center;
}

table.middle {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.middle td {
    border: 1px solid black;
    padding: 8px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.green {
    background-color: green;
    height: 30px;
}

.blue {
    background-color: blue;
    height: 30px;
}

#t-image img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}